.App {
  font-size: 14px;
}

.App-header {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  padding: 1.5rem;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.App footer {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  border-top: solid rgba(1, 1, 1, 0.3) 1px;
}
.App footer a {
  text-decoration: none;
  margin: 0.25rem 0;
}
